; Cities can work all accessible tiles
[effect_tile_workable]
type    = "Tile_Workable"
value   = 1
reqs    =
    { "type",        "name",       "range", "present"
      "TerrainFlag", "Unworkable", "Local", FALSE
    }

; Inaccessible tiles are unworkable
[effect_tile_unworkable]
type    = "Tile_Workable"
value   = -999
reqs    =
    { "type",        "name",       "range", "present"
      "TerrainFlag", "Unworkable", "Local", TRUE
    }

; free granary, etc, runs out
[effect_city_image_1]
type    = "City_Image"
value   = 1
reqs    =
    { "type", "name", "range"
      "MinSize", "5", "City"
    }

; needs Aqueduct
[effect_city_image_2]
type    = "City_Image"
value   = 1
reqs    =
    { "type", "name", "range"
      "MinSize", "9", "City"
    }

[effect_city_image_3]
type    = "City_Image"
value   = 1
reqs    =
    { "type", "name", "range"
      "MinSize", "13", "City"
    }

; needs Sewer System
[effect_city_image_4]
type    = "City_Image"
value   = 1
reqs    =
    { "type", "name", "range"
      "MinSize", "17", "City"
    }

[effect_city_walls_visible]
type    = "Visible_Walls"
value   = 1
reqs    =
    { "type", "name", "range"
      "Building", "City Walls", "City"
    }

{% set workRadiusSq = options.cities.workRadiusSq -%}
; City radius at start = {{ workRadiusSq.initial }}

{% for name, effect in workRadiusSq.bonuses | items %}
[effect_work_area_{{ name | slugify }}]
type    = "City_Radius_Sq"
value   = {{ effect.value }}
{{ requirements(effect.reqs) }}
{% endfor %}
