[effect_cathedral_culture]
type    = "History"
value	= 3
reqs	=
    { "type", "name", "range"
      "Building", "Cathedral", "City"
    }


[effect_colosseum_culture]
type    = "History"
value	= 2
reqs	=
    { "type", "name", "range"
      "Building", "Colosseum", "City"
    }

[effect_library_culture]
type    = "History"
value	= 1
reqs	=
    { "type", "name", "range"
      "Building", "Library", "City"
    }


[effect_palace_culture]
type    = "History"
value	= 1
reqs	=
    { "type", "name", "range"
      "Building", "Palace", "City"
    }

[effect_2nd_palace_culture]
type    = "History"
value	= 1
reqs	=
    { "type", "name", "range", "present"
      "Building", "Second Palace", "City", TRUE
      "Building", "Palace", "City", FALSE
    }

[effect_research_lab_culture]
type    = "History"
value	= 3
reqs	=
    { "type", "name", "range"
      "Building", "Research Lab", "City"
    }

[effect_temple_culture]
type    = "History"
value	= 1
reqs	=
    { "type", "name", "range"
      "Building", "Temple", "City"
    }

[effect_university_culture]
type    = "History"
value	= 2
reqs	=
    { "type", "name", "range"
      "Building", "University", "City"
    }

[effect_apollo_program_culture]
type    = "History"
value	= 6
reqs	=
    { "type", "name", "range"
      "Building", "Apollo Program", "City"
    }


[effect_asmiths_trading_co_culture]
type    = "History"
value	= 4
reqs	=
    { "type", "name", "range"
      "Building", "A.Smith's Trading Co.", "City"
    }


[effect_colossus_culture]
type    = "History"
value	= 2
reqs	=
    { "type", "name", "range"
      "Building", "Colossus", "City"
    }

[effect_copernicus_observatory_culture]
type    = "History"
value	= 3
reqs	=
    { "type", "name", "range"
      "Building", "Copernicus' Observatory", "City"
    }


[effect_cure_for_cancer_culture]
type    = "History"
value	= 6
reqs	=
    { "type", "name", "range"
      "Building", "Cure For Cancer", "City"
    }

[effect_darwins_voyage_culture]
type    = "History"
value	= 4
reqs	=
    { "type", "name", "range"
      "Building", "Darwin's Voyage", "City"
    }

[effect_eiffel_tower_culture]
type    = "History"
value	= 3
reqs	=
    { "type", "name", "range"
      "Building", "Eiffel Tower", "City"
    }


[effect_great_library_culture]
type    = "History"
value	= 3
reqs	=
    { "type", "name", "range"
      "Building", "Great Library", "City"
    }


[effect_great_wall_culture]
type    = "History"
value	= 3
reqs	=
    { "type", "name", "range"
      "Building", "Great Wall", "City"
    }


[effect_hanging_gardens_culture]
type    = "History"
value	= 2
reqs	=
    { "type", "name", "range"
      "Building", "Hanging Gardens", "City"
    }

[effect_hoover_dam_culture]
type    = "History"
value	= 6
reqs	=
    { "type", "name", "range"
      "Building", "Hoover Dam", "City"
    }

[effect_isaac_newtons_college_culture]
type    = "History"
value	= 4
reqs	=
    { "type", "name", "range"
      "Building", "Isaac Newton's College", "City"
    }

[effect_js_bachs_cathedral_culture]
type    = "History"
value	= 4
reqs	=
    { "type", "name", "range"
      "Building", "J.S. Bach's Cathedral", "City"
    }

[effect_king_richards_crusade_culture]
type    = "History"
value	= 3
reqs	=
    { "type", "name", "range"
      "Building", "King Richard's Crusade", "City"
    }

[effect_verrocchios_workshop_culture]
type    = "History"
value	= 4
reqs	=
    { "type", "name", "range"
      "Building", "Verrocchio's Workshop", "City"
    }

[effect_leonardos_workshop_culture]
type    = "History"
value	= 4
reqs	=
    { "type", "name", "range"
      "Building", "Leonardo's Workshop", "City"
    }

[effect_lighthouse_culture]
type    = "History"
value	= 2
reqs	=
    { "type", "name", "range"
      "Building", "Lighthouse", "City"
    }

[effect_magellans_expedition_culture]
type    = "History"
value	= 4
reqs	=
    { "type", "name", "range"
      "Building", "Magellan's Expedition", "City"
    }

{% if not features.explosiveExpansion.enabled -%}
[effect_manhattan_project_culture]
type    = "History"
value	= 6
reqs	=
    { "type", "name", "range"
      "Building", "Manhattan Project", "City"
    }
{% endif -%}


[effect_michelangelos_chapel_culture]
type    = "History"
value	= 4
reqs	=
    { "type", "name", "range"
      "Building", "Michelangelo's Chapel", "City"
    }


[effect_mausoleum_of_mausolos_culture]
type    = "History"
value	= 2
reqs	=
    { "type", "name", "range"
      "Building", "Mausoleum of Mausolos", "City"
    }

[effect_statue_of_zeus_culture]
type    = "History"
value	= 2
reqs	=
    { "type", "name", "range"
      "Building", "Statue of Zeus", "City"
    }


[effect_temple_of_artemis]
type    = "Make_Content"
value   = 2
reqs    =
    { "type", "name", "range"
      "Building", "Temple", "City"
      "Building", "Temple of Artemis", "Player"
    }

[effect_temple_of_artemis_culture]
type    = "History"
value	= 2
reqs	=
    { "type", "name", "range"
      "Building", "Temple of Artemis", "City"
    }


[effect_internet_culture]
type    = "History"
value	= 6
reqs	=
    { "type", "name", "range"
      "Building", "Internet", "City"
    }



[effect_shakespeares_theatre_culture]
type    = "History"
value	= 3
reqs	=
    { "type", "name", "range"
      "Building", "Shakespeare's Theatre", "City"
    }



[effect_statue_of_liberty_culture]
type    = "History"
value	= 4
reqs	=
    { "type", "name", "range"
      "Building", "Statue of Liberty", "City"
    }


[effect_sun_tzus_war_academy_culture]
type    = "History"
value	= 3
reqs	=
    { "type", "name", "range"
      "Building", "Sun Tzu's War Academy", "City"
    }


[effect_terracotta_army_culture]
type    = "History"
value	= 2
reqs	=
    { "type", "name", "range"
      "Building", "Terracotta Army", "City"
    }


[effect_united_nations_culture]
type    = "History"
value	= 6
reqs	=
    { "type", "name", "range"
      "Building", "United Nations", "City"
    }

[effect_pyramids_culture]
type    = "History"
value	= 2
reqs	=
    { "type", "name", "range"
      "Building", "Pyramids", "City"
    }

