{% set bases = options.terrain.bases -%}
; No defense bonus from Pre-Fortress, Fortress only helps against Land and Sea units
[effect_fort_defense]
type    = "Defend_Bonus"
value   = {{ bases.fortress.defenceBonus }}
reqs    =
    { "type", "name", "range", "present"
      "Extra", "Fortress", "Local", TRUE
      "UnitClassFlag", "Air", "Local", FALSE
    }

; Airbase gives defense bonus against Air, Helicopter, Missile units only.
[effect_airbase_defense]
type    = "Defend_Bonus"
value   = {{ bases.airbase.defenceBonus }}
reqs    =
    { "type", "name", "range", "present"
      "Extra", "Airbase", "Local", TRUE
      "UnitClassFlag", "Air", "Local", TRUE
    }

{% set units = options.units -%}
[effect_fortified]
type    = "Fortify_Defense_Bonus"
value   = {{ units.fortifyDefenceBonus }}
reqs    =
    { "type", "name", "range"
      "Activity", "Fortified", "Local"
    }

{% if options.units.countAsFortifiedInCities -%}
[effect_city_fortified]
type    = "Fortify_Defense_Bonus"
value   = {{ units.fortifyDefenceBonus }}
reqs    =
    { "type",          "name",         "range", "present"
      "CityTile",      "Center",       "Local", TRUE
      "Activity",      "Fortified",    "Local", FALSE
      "UnitClassFlag", "CanFortify",   "Local", TRUE
      "UnitFlag",      "Cant_Fortify", "Local", FALSE
    }
{%- endif %}

{% if options.cities.defence.onDefenderKilled.cityWallsPreventsCitizenLoss -%}
[effect_city_walls_1]
type    = "Unit_No_Lose_Pop"
value   = 1
reqs    =
    { "type", "name", "range"
      "Building", "City Walls", "City"
    }

[effect_great_wall_1]
type    = "Unit_No_Lose_Pop"
value   = 1
reqs    =
    { "type", "name", "range"
      "Building", "Great Wall", "Player"
    }
{%- endif %}

