{% set food = options.cities.food -%}
{% if food.centreTile.bonus %}
[effect_city_food_bonus]
type    = "Output_Add_Tile"
value   = {{ food.centreTile.bonus }}
reqs    =
    { "type", "name", "range"
      "CityTile", "Center", "Local"
      "OutputType", "Food", "Local"
    }
{% endif %}
