{% set gold = options.cities.gold -%}

[effect_tithes_fundamentalism]
type    = "Happiness_To_Gold" 
value   = 1 
reqs    = 
    { "type", "name", "range", "quiet"
      "Gov", "Fundamentalism", "Player", TRUE
    }

[effect_fanatics_fundamentalism]
type    = "Fanatics"
value   = 1
reqs    =
    { "type", "name", "range"
      "Gov", "Fundamentalism", "Player"
    }
