{% set gold = options.cities.gold -%}
[effect_taxman]
type    = "Specialist_Output"
value   = {{ gold.taxmen.baseOutput }}
reqs    =
    { "type", "name", "range"
      "Specialist", "Taxman", "Local"
      "OutputType", "Gold", "Local"
    }

;2 + 1 = 3
[effect_asmiths_trading_co_1]
type    = "Specialist_Output"
value   = {{ gold.taxmen.adamSmithsBonus }}
reqs    =
    { "type", "name", "range", "survives"
      "Building", "A.Smith's Trading Co.", "World", TRUE
      "Specialist", "Taxman", "Local"
      "OutputType", "Gold", "Local"
    }

[effect_building_upkeep_anarchy]
type    = "Upkeep_Free"
value   = 99
reqs    =
    { "type", "name", "range", "quiet"
      "Gov", "Anarchy", "Player", TRUE
    }

[effect_building_upkeep_communism]
type    = "Upkeep_Free"
value   = {{ gold.improvementUpkeep.communismBonus }}
reqs    =
    { "type", "name", "range", "quiet"
      "Gov", "Communism", "Player", TRUE
    }

[effect_asmiths_trading_co]
type    = "Upkeep_Free"
value   = {{ gold.improvementUpkeep.adamSmithsBonus }}
reqs    =
    { "type", "name", "range", "present"
      "Building", "A.Smith's Trading Co.", "Player", TRUE
      "Building", "Stock Exchange", "City", TRUE
      "Gov", "Communism", "Player", FALSE
    }
    
[effect_tithes_fundamentalism]
type    = "Happiness_To_Gold" 
value   = 1 
reqs    = 
    { "type", "name", "range", "quiet"
      "Gov", "Fundamentalism", "Player", TRUE
    }

[effect_fanatics_fundamentalism]
type    = "Fanatics"
value   = 1
reqs    =
    { "type", "name", "range"
      "Gov", "Fundamentalism", "Player"
    }

{% set goldBonus = options.cities.gold.outputBonusPct -%}

[effect_marketplace]
type    = "Output_Bonus"
value   = {{ goldBonus.marketplace }}
reqs    =
    { "type", "name", "range"
      "Building", "Marketplace", "City"
      "OutputType", "Gold", "Local"
    }

[effect_bank]
type    = "Output_Bonus"
value   = {{ goldBonus.bank }}
reqs    =
    { "type", "name", "range"
      "Building", "Bank", "City"
      "OutputType", "Gold", "Local"
    }

[effect_mercantile_exchange]
type    = "Output_Bonus"
value   = {{ goldBonus.mercantileExchange }}
reqs    =
    { "type", "name", "range"
      "Building", "Mercantile Exchange", "City"
      "OutputType", "Gold", "Local"
    }

[effect_stock_exchange]
type    = "Output_Bonus"
value   = {{ goldBonus.stockExchange }}
reqs    =
    { "type", "name", "range"
      "Building", "Stock Exchange", "City"
      "OutputType", "Gold", "Local"
    }

[effect_super_highways_gold_bonus]
type    = "Output_Bonus"
value   = {{ goldBonus.superhighways }}
reqs    =
    { "type", "name", "range"
      "Building", "Super Highways", "City"
      "Building", "Stock Exchange", "City"
      "OutputType", "Gold", "Local"
    }

[effect_palace_despotism]
type    = "Output_Bonus"
value   = {{ goldBonus.despotPalace }}
reqs    =
    { "type", "name", "range", "quiet"
      "Gov", "Despotism", "Player", TRUE
      "Building", "Palace", "City", FALSE
      "OutputType", "Gold", "Local", FALSE
    }

[effect_2nd_palace_despotism]
type    = "Output_Bonus"
value   = {{ goldBonus.despotPalace }}
reqs    =
    { "type", "name", "range", "present", "quiet"
      "Gov", "Despotism", "Player", TRUE, TRUE
      "Building", "Second Palace", "City", TRUE, FALSE
      "OutputType", "Gold", "Local", TRUE, FALSE
      "Building", "Palace", "City", FALSE, FALSE
    }

[effect_palace_monarchy]
type    = "Output_Bonus"
value   = {{ goldBonus.monarchPalace }}
reqs    =
    { "type", "name", "range", "quiet"
      "Gov", "Monarchy", "Player", TRUE
      "Building", "Palace", "City", FALSE
      "OutputType", "Gold", "Local", FALSE
    }

[effect_2nd_palace_monarchy]
type    = "Output_Bonus"
value   = {{ goldBonus.monarchPalace }}
reqs    =
    { "type", "name", "range", "present", "quiet"
      "Gov", "Monarchy", "Player", TRUE, TRUE
      "Building", "Second Palace", "City", TRUE, FALSE
      "OutputType", "Gold", "Local", TRUE, FALSE
      "Building", "Palace", "City", FALSE, FALSE
    }

[effect_occupation_government_2]
type    = "Output_Bonus"
value   = {{ goldBonus.occupationalGovernment }}
reqs    =
    { "type", "name", "range"
      "Building", "Occupation Government", "City"
      "OutputType", "Gold", "Local"
    }

{% set buyout = options.cities.gold.buyoutCostPct -%}

; Double (+100%) buy cost for Great Wonders
[effect_great_wonder_buy_cost]
type    = "Building_Buy_Cost_Pct"
value   = {{ buyout.greatWonder }}
reqs    =
    { "type", "name", "range"
      "BuildingGenus", "GreatWonder", "Local"
    }

; Double (+100%) buy cost for Small Wonders except Palace
[effect_small_wonder_buy_cost]
type    = "Building_Buy_Cost_Pct"
value   = {{ buyout.smallWonder }}
reqs    =
    { "type", "name", "range", "present"
      "BuildingGenus", "SmallWonder", "Local", TRUE
      "Building", "Palace", "Local", FALSE
    }

