{% set happiness = options.cities.happiness -%}
[effect_unhappysize]
type    = "City_Unhappy_Size"
value   = {{ happiness.baseContentCitizens }}

; Specialist output bonuses

[effect_elvis]
type    = "Specialist_Output"
value   = {{ happiness.entertainerLuxuries.base }}
reqs    =
    { "type", "name", "range"
      "Specialist", "Elvis", "Local"
      "OutputType", "Luxury", "Local"
    }

;2 + 1 = 3
[effect_shakespeares_theatre_2]
type    = "Specialist_Output"
value   = {{ happiness.entertainerLuxuries.shakespearesTheatreBonus }}
reqs    =
    { "type", "name", "range", "survives"
      "Building", "Shakespeare's Theatre", "World", TRUE
      "Specialist", "Elvis", "Local"
      "OutputType", "Luxury", "Local"
    }

{% for gov, cities in happiness.empireCityCountPerUnhappinessIncrease.items() -%}
[effect_empire_size_base_{{ gov | slugify }}]
type    = "Empire_Size_Base"
value   = {{ cities.initial }}
reqs    =
    { "type", "name", "range"
      "Gov", "{{ gov }}", "Player"
    }

[effect_empire_size_step_{{ gov | slugify }}]
type    = "Empire_Size_Step"
value   = {{ cities.step }}
reqs    =
    { "type", "name", "range"
      "Gov", "{{ gov }}", "Player"
    }
{% endfor %}

{% for gov, martialLaw in happiness.militaryUnitsPacifyCitizens.items() -%}
[effect_martial_law_each_{{ gov | slugify }}]
type    = "Martial_Law_Each"
value   = {{ martialLaw.citizensPerUnit }}
reqs    =
    { "type", "name", "range", "quiet"
      "Gov", "{{ gov }}", "Player", TRUE
    }

{% if martialLaw.maxUnits is defined -%}
[effect_martial_law_max_{{ gov | slugify }}]
type    = "Martial_Law_Max"
value   = {{ martialLaw.maxUnits }}
reqs    =
    { "type", "name", "range"
      "Gov", "{{ gov }}", "Player"
    }
{% endif %}
{% endfor %}

{% set cityLuxuryBonus = happiness.cityLuxuryBonus -%}
[effect_lux_federation]
type    = "Output_Add_Tile"
value   = {{ cityLuxuryBonus.federation }}
reqs    =
    { "type", "name", "range", "quiet"
      "Gov", "Federation", "Player", TRUE
      "CityTile", "Center", "Local", FALSE
      "OutputType", "Luxury", "Local", FALSE
    }

[effect_cure_for_cancer]
type    = "Output_Add_Tile"
value   = {{ cityLuxuryBonus.cureForCancer }}
reqs    =
    { "type", "name", "range"
      "Building", "Cure For Cancer", "Player"
      "CityTile", "Center", "Local"
      "OutputType", "Luxury", "Local"
    }

[effect_hanging_gardens_1]
type    = "Output_Add_Tile"
value   = {{ cityLuxuryBonus.hangingGardens }}
reqs    =
    { "type", "name", "range"
      "Building", "Hanging Gardens", "City"
      "CityTile", "Center", "Local"
      "OutputType", "Luxury", "Local"
    }

[effect_js_bachs_cathedral]
type    = "Output_Add_Tile"
value   = {{ cityLuxuryBonus.jsBachsCathedral }}
reqs    =
    { "type", "name", "range"
      "Building", "J.S. Bach's Cathedral", "Player"
      "CityTile", "Center", "Local"
      "OutputType", "Luxury", "Local"
    }

[effect_shakespeares_theatre]
type    = "Output_Add_Tile"
value   = {{ cityLuxuryBonus.shakespearesTheatreNation }}
reqs    =
    { "type", "name", "range"
      "Building", "Shakespeare's Theatre", "Player"
      "CityTile", "Center", "Local"
      "OutputType", "Luxury", "Local"
    }

[effect_shakespeares_theatre_1]
type    = "Output_Add_Tile"
value   = {{ cityLuxuryBonus.shakespearesTheatreCity }}
reqs    =
    { "type", "name", "range"
      "Building", "Shakespeare's Theatre", "City"
      "CityTile", "Center", "Local"
      "OutputType", "Luxury", "Local"
    }

[effect_hal_salflieni_hypogeum]
type    = "Output_Add_Tile"
value   = {{ cityLuxuryBonus.hypogeum }}
reqs    =
    { "type", "name", "range"
      "Building", "Hal Saflieni Hypogeum", "City"
      "CityTile", "Center", "Local"
      "OutputType", "Luxury", "Local"
    }

{% set luxPct = happiness.luxuryOutputBonusPct -%}

[effect_bad_lux_anarchy]
type    = "Output_Bonus"
value   = {{ luxPct.anarchy }}
reqs    =
    { "type", "name", "range", "quiet"
      "Gov", "Anarchy", "Player", TRUE
      "OutputType", "Luxury", "Local", FALSE
    }

[effect_bank_1]
type    = "Output_Bonus"
value   = {{ luxPct.bank }}
reqs    =
    { "type", "name", "range"
      "Building", "Bank", "City"
      "OutputType", "Luxury", "Local"
    }
	
[effect_mercantile_exchange_1]
type    = "Output_Bonus"
value   = {{ luxPct.mercantileExchange }}
reqs    =
    { "type", "name", "range"
      "Building", "Mercantile Exchange", "City"
      "OutputType", "Luxury", "Local"
    }

[effect_marketplace_1]
type    = "Output_Bonus"
value   = {{ luxPct.marketplace }}
reqs    =
    { "type", "name", "range"
      "Building", "Marketplace", "City"
      "OutputType", "Luxury", "Local"
    }

[effect_stock_exchange_1]
type    = "Output_Bonus"
value   = {{ luxPct.stockExchange }}
reqs    =
    { "type", "name", "range"
      "Building", "Stock Exchange", "City"
      "OutputType", "Luxury", "Local"
    }

[effect_super_highways_2]
type    = "Output_Bonus"
value   = {{ luxPct.superHighways }}
reqs    =
    { "type", "name", "range"
      "Building", "Super Highways", "City"
      "Building", "Stock Exchange", "City"
      "OutputType", "Luxury", "Local"
    }

{% set makeContent = happiness.makeCitizensContent -%}

[effect_cathedral]
type    = "Make_Content"
value   = {{ makeContent.cathedral }}
reqs    =
    { "type", "name", "range"
      "Building", "Cathedral", "City"
    }

[effect_cathedral_theology]
type    = "Make_Content"
value   = {{ makeContent.cathedralTheologyBonus }}
reqs    =
    { "type", "name", "range", "present"
      "Tech", "Theology", "Player", TRUE
      "Building", "Cathedral", "City", TRUE
    }

[effect_michelangelos_chapel]
type    = "Make_Content"
value   = {{ makeContent.cathedralMichelangelosBonus }}
reqs    =
    { "type", "name", "range"
      "Building", "Cathedral", "City"
      "Building", "Michelangelo's Chapel", "Player"
    }

[effect_cathedral_communism]
type    = "Make_Content"
value   = {{ 0 - (makeContent.cathedralCommunismPenalty) }}
reqs    =
    { "type", "name", "range", "present"
      "Building", "Cathedral", "City", TRUE
      "Gov", "Communism", "Player", TRUE
    }

[effect_colosseum]
type    = "Make_Content"
value   = {{ makeContent.colosseum }}
reqs    =
    { "type", "name", "range"
      "Building", "Colosseum", "City"
    }

[effect_colosseum_electricity]
type    = "Make_Content"
value   = {{ makeContent.colosseumElectricityBonus }}
reqs    =
    { "type", "name", "range"
      "Tech", "Electricity", "Player"
      "Building", "Colosseum", "City"
    }

[effect_courthouse_content]
type    = "Make_Content"
value   = {{ makeContent.courthouse }}
reqs    =
    { "type", "name", "range"
      "Building", "Courthouse", "City"
    }

[effect_mausoleum_of_mausolos_1]
type    = "Make_Content"
value   = {{ makeContent.courthouseMausolosBonus }}
reqs    =
    { "type", "name", "range"
      "Building", "Courthouse", "City"
      "Building", "Mausoleum of Mausolos", "Player"
    }

[effect_mausoleum_of_mausolos]
type    = "Make_Content"
value   = {{ makeContent.cityWallsMausolosBonus }}
reqs    =
    { "type", "name", "range"
      "Building", "City Walls", "City"
      "Building", "Mausoleum of Mausolos", "Player"
    }

[effect_palace_city_states]
type    = "Make_Content"
value   = {{ makeContent.cityStatesPalace }}
reqs    =
    { "type", "name", "range", "quiet"
      "Gov", "City States", "Player", TRUE
      "Building", "Palace", "City", TRUE
    }

[effect_police_station]
type    = "Make_Content"
value   = {{ makeContent.policeStation }}
reqs    =
    { "type", "name", "range"
      "Building", "Police Station", "City"
    }

[effect_temple]
type    = "Make_Content"
value   = {{ makeContent.temple }}
reqs    =
    { "type", "name", "range"
      "Building", "Temple", "City"
    }

[effect_temple_1]
type    = "Make_Content"
value   = {{ makeContent.templeMysticismBonus }}
reqs    =
    { "type", "name", "range", "present"
      "Tech", "Mysticism", "Player", TRUE
      "Building", "Temple", "City", TRUE
      "Gov", "Communism", "Player", FALSE
    }

[effect_temple_communism]
type    = "Make_Content"
value   = {{ 0 - (makeContent.templeCommunismPenalty) }}
reqs    =
    { "type", "name", "range", "present"
      "Building", "Temple", "City", TRUE
      "Gov", "Communism", "Player", TRUE
    }

[effect_hanging_gardens]
type    = "Make_Content"
value   = {{ makeContent.hangingGardensNation }}
reqs    =
    { "type", "name", "range"
      "Building", "Hanging Gardens", "Player"
    }

{% for gov, unhappyPct in happiness.nationalismUnhappyPct.government.items() %}
[effect_enemy_unhappiness_{{ gov | slugify }}]
type    = "Enemy_Citizen_Unhappy_Pct"
value   = {{ unhappyPct.base }}
reqs	=
    { "type", "name", "range"
      "Gov", "{{ gov }}", "Player"
    }

[effect_occupation_government_enemy_unhappiness_{{ gov | slugify }}]
type    = "Enemy_Citizen_Unhappy_Pct"
value   = {{ unhappyPct.occupationalGov }}
reqs    =
    { "type", "name", "range"
      "Building", "Occupation Government", "City"
      "Gov", "{{ gov }}", "Player"
    }
{% endfor %}

