{% set regen = options.units.hitpointRegen -%}
{% set bases = options.terrain.bases -%}

{% set barracksBuildings = ["Barracks", "Barracks II", "Barracks III"] -%}

; Fortress HP regen (Every Land units)
[effect_fortress_hp_regen]
type    = "HP_Regen"
value   = {{ bases.fortress.regen }}
reqs    =
    { "type", "name", "range", "present"
      "Extra", "Fortress", "Local", TRUE
      "UnitClassFlag", "Land", "Local", TRUE
    }

; Airbase HP regen: 34% (this approximation to 1/3 is exact for units <50HP;
; 1/3 is equivalent to a city without Airport)
[effect_airbase_hp_regen]
type    = "HP_Regen"
value   = {{ bases.airbase.regen }}
reqs    =
    { "type", "name", "range", "present"
      "Extra", "Airbase", "Local", TRUE
      "UnitClassFlag", "Air", "Local", TRUE
    }

[effect_airport_hp_regen]
type    = "HP_Regen"
value   = {{ regen.airportBonus }}
reqs    =
    { "type", "name", "range"
      "Building", "Airport", "City"
      "UnitClassFlag", "Air", "Local"
    }

{% for class, regen in regen.barracksByClass.items() %}
{% for barracks in barracksBuildings %}
[effect_{{ barracks | slugify }}_hp_{{ class | slugify }}]
type    = "HP_Regen"
value   = {{ regen }}
reqs    =
    { "type", "name", "range", "present"
      "Building", "{{ barracks }}", "City", TRUE
      "UnitClass", "{{ class }}", "Local", TRUE
    }
{% endfor %}
{% endfor %}

[effect_port_facility_1]
type    = "HP_Regen"
value   = {{ regen.portFacilityBonus }}
reqs    =
    { "type", "name", "range"
      "Building", "Port Facility", "City"
      "UnitClassFlag", "Sea", "Local"
    }

[effect_port_facility_guangzhou_1]
type    = "HP_Regen"
value   = {{ regen.guangzhouBonus }}
reqs    =
    { "type", "name", "range"
      "Building", "Port of Guangzhou", "City"
      "UnitClassFlag", "Sea", "Local"
    }


