{% set nuke = options.units.nuclear -%}

[effect_nuke_improvement_pct]
type    = "Nuke_Improvement_Pct"
value   = {{ nuke.improvementDestroyedChancePct }}

[effect_nuke_infrastructure_pct]
type    = "Nuke_Infrastructure_Pct"
value   = {{ nuke.terrainInfrastructureDestroyedChancePct }}

{% for name, effect in options.cities.nuclearDefence | items %}
[effect_sdi_{{ name | slugify }}]
type    = "Nuke_Proof"
value   = {{ effect.value }}
{{ requirements(effect.reqs) }}
{% endfor %}

{% if features.explosiveExpansion.enabled -%}
[effect_nukes_from_start]
type    = "Enable_Nuke"
value   = 1
{% else -%}
[effect_manhattan_project]
type    = "Enable_Nuke"
value   = 1
reqs    =
    { "type", "name", "range", "survives"
      "Building", "Manhattan Project", "World", TRUE
    }
{% endif -%}

[effect_incident_success_explode_nuke]
type	= "Casus_Belli_Success"
value	= 1
reqs	=
    { "type", "name", "range", "present"
      "Action", "Explode Nuclear", "Local", TRUE
    }

[effect_incident_success_explode_nuke_city]
type	= "Casus_Belli_Success"
value	= 1
reqs	=
    { "type", "name", "range", "present"
      "Action", "Nuke City", "Local", TRUE
    }

[effect_incident_success_explode_nuke_units]
type	= "Casus_Belli_Success"
value	= 1
reqs	=
    { "type", "name", "range", "present"
      "Action", "Nuke Units", "Local", TRUE
    }


