{% set nuke = options.units.nuclear -%}
{% set sdiPct = options.cities.nuclearDefencePct -%}

[effect_nuke_improvement_pct]
type    = "Nuke_Improvement_Pct"
value   = {{ nuke.improvementDestroyedChancePct }}

[effect_nuke_infrastructure_pct]
type    = "Nuke_Infrastructure_Pct"
value   = {{ nuke.terrainInfrastructureDestroyedChancePct }}

[effect_sdi_i_defense_1]
type    = "Nuke_Proof"
value   = {{ sdiPct.sdi1 }}
reqs    =
    { "type", "name", "range", "present"
      "Building", "SDI Defense I", "City", TRUE
    }

[effect_sdi_i_defense_2]
type    = "Nuke_Proof"
value   = {{ sdiPct.sdiPalace }}
reqs    =
    { "type", "name", "range"
      "Building", "SDI Defense I", "City"
	  "Building", "Palace", "City"
    }

[effect_sdi_ii_defense_1]
type    = "Nuke_Proof"
value   = {{ sdiPct.sdi2 }}
reqs    =
    { "type", "name", "range", "present"
      "Building", "SDI Defense II", "City", TRUE
	  "Building", "Palace", "City", FALSE
    }

[effect_sdi_iii_defense_1]
type    = "Nuke_Proof"
value   = {{ sdiPct.sdi3 }}
reqs    =
    { "type", "name", "range", "present"
      "Building", "SDI Defense III", "City", TRUE
      "Building", "Palace", "City", FALSE
    }

{% if features.explosiveExpansion.enabled -%}
[effect_nukes_from_start]
type    = "Enable_Nuke"
value   = 1
{% else -%}
[effect_manhattan_project]
type    = "Enable_Nuke"
value   = 1
reqs    =
    { "type", "name", "range", "survives"
      "Building", "Manhattan Project", "World", TRUE
    }
{% endif -%}

[effect_incident_success_explode_nuke]
type	= "Casus_Belli_Success"
value	= 1
reqs	=
    { "type", "name", "range", "present"
      "Action", "Explode Nuclear", "Local", TRUE
    }

[effect_incident_success_explode_nuke_city]
type	= "Casus_Belli_Success"
value	= 1
reqs	=
    { "type", "name", "range", "present"
      "Action", "Nuke City", "Local", TRUE
    }

[effect_incident_success_explode_nuke_units]
type	= "Casus_Belli_Success"
value	= 1
reqs	=
    { "type", "name", "range", "present"
      "Action", "Nuke Units", "Local", TRUE
    }


