{% set production = options.cities.production -%}

{% set cityTileBonus = options.cities.production.centreTile.bonus %}
{% if cityTileBonus != 0 %}
[effect_city_shield]
type    = "Output_Add_Tile"
value   = {{ cityTileBonus }}
reqs    =
    { "type", "name", "range"
      "CityTile", "Center", "Local"
      "OutputType", "Shield", "Local"
    }
{% endif %}

[effect_unit_shield_value_recycle]
type    = "Unit_Shield_Value_Pct"
value   = {{ options.units.disbanding.shieldReturnPct.base - 100 }}
reqs    =
    { "type",   "name",         "range", "present"
      "Action", "Recycle Unit", "Local", TRUE
    }


; Make Mine extra do something
[effect_mine]
type    = "Mining_Pct"
value   = 100
reqs    =
    { "type", "name", "range"
      "Extra", "Mine", "Local"
    }

[effect_oil_well]
type    = "Mining_Pct"
value   = 100
reqs    =
    { "type", "name", "range"
      "Extra", "Oil Well", "Local"
    }

