{% set science = options.cities.science -%}
[effect_scientist]
type    = "Specialist_Output"
value   = {{ science.specialists.base }}
reqs    =
    { "type",       "name",      "range"
      "Specialist", "Scientist", "Local"
      "OutputType", "Science",   "Local"
    }

;2 + 1 = 3
[effect_darwins_voyage_1]
type    = "Specialist_Output"
value   = {{ science.specialists.darwinsVoyageBonus }}
reqs    =
    { "type",       "name",            "range", "survives"
      "Specialist", "Scientist",       "Local"
      "OutputType", "Science",         "Local"
      "Building",   "Darwin's Voyage", "World", TRUE
    }

[effect_school_of_baudhayana_sutras]
type    = "Output_Add_Tile"
value   = {{ science.centreTileBonus.baudhayana }}
reqs    =
    { "type",       "name",                        "range"
      "Building",   "School of Baudhayana sutras", "City"
      "CityTile",   "Center",                      "Local"
      "OutputType", "Science",                     "Local"
    }

[effect_great_library_1]
type    = "Output_Add_Tile"
value   = {{ science.centreTileBonus.greatLibrary }}
reqs    =
    { "type",       "name",          "range"
      "CityTile",   "Center",        "Local"
      "OutputType", "Science",       "Local"
      "Building",   "Great Library", "City"
    }

[effect_isaac_newtons_college_1]
type    = "Output_Add_Tile"
value   = {{ science.centreTileBonus.newtons }}
reqs    =
    { "type",       "name",                   "range"
      "CityTile",   "Center",                 "Local"
      "OutputType", "Science",                "Local"
      "Building",   "Isaac Newton's College", "City"
    }

[effect_darwins_voyage]
type    = "Output_Add_Tile"
value   = {{ science.centreTileBonus.darwins }}
reqs    =
    { "type",       "name",            "range"
      "CityTile",   "Center",          "Local"
      "OutputType", "Science",         "Local"
      "Building",   "Darwin's Voyage", "Player"
    }

[effect_copernicus_observatory]
type    = "Output_Add_Tile"
value   = {{ science.everyTileBonus.copernicus }}
reqs    =
    { "type",       "name",                    "range"
      "OutputType", "Science",                 "Local"
      "Building",   "Copernicus' Observatory", "City"
    }

[effect_library]
type    = "Output_Bonus"
value   = {{ science.outputBonusPct.library }}
reqs    =
    { "type",       "name",          "range", "present", "survives"
      "OutputType", "Science",       "Local"
      "Building",   "Library",       "City"
      "Building",   "Great Library", "World", FALSE,     TRUE
    }

[effect_great_library]
type    = "Output_Bonus"
value   = {{ science.outputBonusPct.libraryAfterGreatLibrary }}
reqs    =
    { "type",       "name",          "range", "survives"
      "OutputType", "Science",       "Local"
      "Building",   "Library",       "City"
      "Building",   "Great Library", "World", TRUE
    }

[effect_university]
type    = "Output_Bonus"
value   = {{ science.outputBonusPct.university }}
reqs    =
    { "type",       "name",                   "range", "present", "survives"
      "Building",   "University",             "City"
      "OutputType", "Science",                "Local"
      "Building",   "Isaac Newton's College", "World", FALSE,     TRUE
    }

[effect_isaac_newtons_college]
type    = "Output_Bonus"
value   = {{ science.outputBonusPct.universityAfterNewtons }}
reqs    =
    { "type",       "name",                   "range", "survives"
      "OutputType", "Science",                "Local"
      "Building",   "University",             "City"
      "Building",   "Isaac Newton's College", "World", TRUE
    }

[effect_research_lab]
type    = "Output_Bonus"
value   = {{ science.outputBonusPct.researchLab }}
reqs    =
    { "type",       "name",         "range", "present", "survives"
      "OutputType", "Science",      "Local"
      "Building",   "Research Lab", "City"
      "Building",   "Internet",     "World", FALSE,     TRUE
    }

[effect_internet]
type    = "Output_Bonus"
value   = {{ science.outputBonusPct.researchLabAfterInternet }}
reqs    =
    { "type",       "name",         "range", "survives"
      "OutputType", "Science",      "Local"
      "Building",   "Research Lab", "City"
      "Building",   "Internet",     "World", TRUE
    }

[effect_occupation_government_bad_science]
type    = "Output_Bonus"
value   = -{{ science.outputPenaltyPct.occupationalGovernment }}
reqs    =
    { "type",       "name",                  "range"
      "OutputType", "Science",               "Local"
      "Building",   "Occupation Government", "City"
    }

[effect_bad_sci_fundamentalism]
type    = "Output_Bonus"
value   = -{{ science.outputPenaltyPct.fundamentalism }}
reqs    =
    { "type",       "name",           "range",  "quiet"
      "OutputType", "Science",        "Local",  FALSE
      "Gov",        "Fundamentalism", "Player", TRUE
    }

; federation gets 50% boost for science
[effect_bonus_sci_federation]
type    = "Output_Bonus_2"
value   = {{ science.outputBonusFactorPct.earlyFederation }}
reqs    =
    { "type",       "name",            "range", "present"
      "OutputType", "Science",         "Local"
      "Gov",        "Federation",      "Player"
	  "Tech",       "The Corporation", "Player", FALSE
    }

; federation gets another 25% boost for science with the corporation
[effect_bonus_sci_federation_2]
type    = "Output_Bonus_2"
value   = {{ science.outputBonusFactorPct.corporateFederation }}
reqs    =
    { "type",       "name",            "range"
      "OutputType", "Science",         "Local"
      "Gov",        "Federation",      "Player"
	  "Tech",       "The Corporation", "Player"
    }

; communism gets 50% boost for science with the corporation
[effect_bonus_sci_communism]
type    = "Output_Bonus_2"
value   = {{ science.outputBonusFactorPct.communism }}
reqs    =
    { "type", "name", "range"
      "Gov", "Communism", "Player"
	  "Tech", "The Corporation", "Player"
      "OutputType", "Science", "Local"
    }

[effect_tech_upkeep_anarchy]
type    = "Tech_Upkeep_Free"
value   = 99
reqs    =
    { "type", "name", "range", "quiet"
      "Gov", "Anarchy", "Player", TRUE
    }

; tech_upkeep_divider = 6000, Max tech upkeep = 13
[effect_upkeep_tech_base]
type    = "Tech_Upkeep_Free"
value   = {{ options.tech.upkeep.reduction.base }}

[effect_tech_cost_base]
type    = "Tech_Cost_Factor"
value   = {{ options.tech.costMultiplier }}

[effect_great_library_2]
type    = "Give_Imm_Tech"
value   = 1
reqs    =
    { "type", "name", "range"
      "Building", "Great Library", "Player"
    }

[effect_isaac_newtons_college_2]
type    = "Give_Imm_Tech"
value   = 1
reqs    =
    { "type", "name", "range"
      "Building", "Isaac Newton's College", "Player"
    }

[effect_internet_2]
type    = "Give_Imm_Tech"
value   = 1
reqs    =
    { "type", "name", "range"
      "Building", "Internet", "Player"
    }


[effect_conquest_tech]
type    = "Conquest_Tech_Pct"
value   = 0

