{% set science = options.cities.science -%}
[effect_tech_upkeep_anarchy]
type    = "Tech_Upkeep_Free"
value   = 99
reqs    =
    { "type", "name", "range", "quiet"
      "Gov", "Anarchy", "Player", TRUE
    }

; tech_upkeep_divider = 6000, Max tech upkeep = 13
[effect_upkeep_tech_base]
type    = "Tech_Upkeep_Free"
value   = {{ options.tech.upkeep.reduction.base }}

[effect_tech_cost_base]
type    = "Tech_Cost_Factor"
value   = {{ options.tech.costMultiplier }}

[effect_great_library_2]
type    = "Give_Imm_Tech"
value   = 1
reqs    =
    { "type", "name", "range"
      "Building", "Great Library", "Player"
    }

[effect_isaac_newtons_college_2]
type    = "Give_Imm_Tech"
value   = 1
reqs    =
    { "type", "name", "range"
      "Building", "Isaac Newton's College", "Player"
    }

[effect_internet_2]
type    = "Give_Imm_Tech"
value   = 1
reqs    =
    { "type", "name", "range"
      "Building", "Internet", "Player"
    }


[effect_conquest_tech]
type    = "Conquest_Tech_Pct"
value   = 0

