{%- set trade = options.cities.trade -%}

{% if trade.centreTile.bonus %}
[effect_city_trade_bonus]
type    = "Output_Add_Tile"
value   = {{ trade.centreTile.bonus }}
reqs    =
    { "type", "name", "range"
      "CityTile", "Center", "Local"
      "OutputType", "Trade", "Local"
    }
{% endif %}
